[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
IntelHex = ">=2.2.1"
uflash = ">=1.1.0,<1.2.1"
pyOCD = "==0.12.0"

[dev-packages]
PyInstaller = ">=3.3"
flake8 = "*"
flake8-docstrings = "*"
# PyOCD needs this as a setup_requires, for some reason 'pipenv install' in
# Travis doesn't pick it up and PyOCD fails to install or run
setuptools_scm = "*"
ubitflashtool = {path = "."}

[requires]
python_version = "2.7"
