[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
IntelHex = ">=2.2.1"
uflash = ">=1.1.0,<1.2.1"
pyOCD = "==0.19.0"
click = ">=7.0,<8.0"
ubitflashtool = {path = "."}

[dev-packages]
PyInstaller = ">=3.3"
# PyOCD needs this as a setup_requires, for some reason 'pipenv install' in
# Travis doesn't pick it up and PyOCD fails to install or run
setuptools_scm = "*"
# Linting
flake8 = "*"
# Requires Python 3.5+
# flake8-bugbear = "*"
# black = "*"
flake8-builtins = "*"
flake8-docstrings = "*"
# Tests
pytest = "*"
pytest-cov = "*"
mock = {version = "*",markers = "python_version < '3.4'"}
# Install package in editable mode
ubitflashtool = {editable = true,path = "."}

[requires]
# Pipfile doesn't not support minimum versions, so we will enforce it setup.py
python_version = "3"
